<section id="experience" class="bg-dark">
	<div class="container text-center">
		<h2>Shipped code for</h2>
		<div class="row align-middle">			
			<div class="col-lg-4">
				<div class="service-box">
					<img src="/img/logos/okta.png" width="70%"/>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="service-box">
					<img src="/img/logos/arctic_wolf.png" width="70%"/>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="service-box">
					<img src="/img/logos/capital_one.png" width="70%"/>
				</div>
			</div>
		</div>
		
		<hr class="light"/>

		<a href="assets/resume.pdf" class="btn btn-lg btn-default" role="button">View Resume!</a>
	</div>	
</section>
